---
layout: default
---

<div class="top-strip"></div>
<main class="content">
    <section class="container">
    	<div class="row-fluid">
    		<article class="home-icon">
				<a href="/">
					<i class="icon-home"></i> 
				</a>
			</article>
			<article class="post">
				<h5>{{ page.date | date: "%d %B %Y" }}</h5>
				<h2 class="content">{{page.title}}</h2>
				<h5 class="post">{{page.author}}</h5>
				<!-- <h4 >{{page.author}}</h4> -->
				<section class="content" style="font-size:15px;margin:2em 0 2em 0;">		
					<blockquote><p>{{page.abstract}}</p></blockquote>
					{{ content }}
					<hr>
				</section>
				<section style="font-weight:bold; margin-bottom: 2em;">
					{% if page.previous %} 
							<a rel="prev" class="a-hover"href="{{ page.previous.url }}"><i class="icon-double-angle-left"></i> {{ page.previous.title }}</a>
						{% endif %}
						{% if page.next %} 
							<a rel="next" style="float:right" class="a-hover"href="{{ page.next.url }}">{{ page.next.title }} <i class=" icon-double-angle-right"></i></a>
					{% endif %}
				</section>
			</article>
		</div>
	<script src="https://utteranc.es/client.js"
        repo="gleaned/gleaned.github.io"
        issue-term="pathname"
        crossorigin="anonymous"
        async>
	</script>	

	</section>
</main>
